.sidebar {
    color: #fff;
    height: 100vh;
    width: 250px;
  }

.link-w {
  color: #fff;
}

.w3-sidebar a {
  font-family: "Roboto", sans-serif
}
body,h1,h2,h3,h4,h5,h6,.w3-wide {
  font-family: "Montserrat", sans-serif;
}

.w3-main-content {
  max-width:1200px
}